.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  z-index: 1;
  animation-timing-function: ease-in;
  transition: all .5s;

}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 2px;
  width: 80px;
  object-fit: contain;
  cursor: pointer;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
