<div class="nav" [ngClass]="{ nav__black: navShow }">
  <img routerLink="" class="nav__logo" src="/assets/logo.png" alt="GoFlix Logo" />
  <img class="nav__avatar" src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png"
    alt="Avatar" />
</div>