<header
  class="banner"
  [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }"
  style="background-size: cover; background-position: center center"
>
  <div class="banner__contents">
    <h1 class="banner__title">
      {{ movie?.title || movie?.name || movie?.original_name }}
    </h1>

    <div class="banner__buttons">
      <button class="banner__button">Play</button>
      <button class="banner__button">My List</button>
    </div>
    <h1 class="banner__description">
      {{ truncateDescription(movie?.overview) || "" }}
    </h1>
  </div>
  <div class="banner--fadeBottom"></div>
</header>
