.login {
  position: relative;
  // background-image: url('/assets/bg-image.jpg');

  height: 100vh;
  width: 100vw;
  background-color: black;
  background-position: center center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.527));
    top: 0;
    right: 0;
  }
}


.login__logo {
  cursor: pointer;
  z-index: 9;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.login__form {
  text-align: center;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  padding: 50px;
  top: 70px;

  & span {
    text-decoration: none;
    font-size: large;
    color: white;
    cursor: pointer;
  }
}

.login__input {
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  outline: none;

  &:focus {
    outline: none;
  }

  &[type='button'] {
    cursor: pointer;
    color: white;
    background-color: #E50914;
  }
}