<div class="login">
  <img
    routerLink="/"
    class="login__logo"
    alt="GoFlix Logo"
    src="/assets/logo.png"
  />

  <div class="login__form">
    <h1 style="color: aliceblue">Register</h1>
    <input type="text" class="login__input" placeholder="email" />
    <input type="text" class="login__input" placeholder="password" />
    <input
      type="text"
      class="login__input"
      placeholder="password confirmation"
    />
    <input type="button" routerLink="/feed" class="login__input" value="Register" />
    <span routerLink="/login">Already Have account *Login*</span>
  </div>
</div>
