<div class="login">
  <img
    routerLink="/"
    class="login__logo"
    alt="GoFlix Logo"
    src="/assets/logo.png"  />

  <div class="login__form">
    <h1 style="color: aliceblue">Login</h1>
    <input type="text" class="login__input" placeholder="email" />
    <input type="text" class="login__input" placeholder="password" />
    <input
      type="button"
      routerLink="/feed"
      class="login__input"
      value="Login"
    />
    <span routerLink="/register">New Here! Register </span>
  </div>
</div>
