.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 1s linear;
}

.row__posters {
  cursor: pointer;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  // width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
  transition: transform 450ms;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}