<div class="rows">
  <div class="row__one">
    <img class="row__logo" alt="GoFlix Logo" src="/assets/logo.png" />
    <button routerLink="login" class="row__connexion">S'identifier</button>
    <div class="row__one-text">
      <!-- <h1>Films, séries TV et bien plus en illimité.</h1>
      <h2>Où que vous soyez. Annulez à tout moment.</h2>
      <h3>
        Prêt à regarder Netflix ? Saisissez votre adresse e-mail pour vous
        abonner ou réactiver votre abonnement.
      </h3>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email adress"
      /> -->
      <button routerLink="feed">COMMENCER</button>
      <p class="fade">Cliquez sur commencer pour voir la page suivante</p>
    </div>
    <!-- <div class="row__one-background--shadow"></div>
    <img
      class="scrollDown"
      src="../../assets/scroll-down.png"
      alt="scroll Down"
    /> -->
  </div>
  <!-- 
  <div class="row">
    <div class="col">
      <h1>
        Téléchargez vos séries préférées pour les regarder hors connexion..
      </h1>
      <h3>
        Enregistrez vos programmes préférés et ayez toujours quelque chose à
        regarder.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/mobile.jpg" width="300" />
    </div>
  </div>

  <div class="row row--reverse">
    <div class="col">
      <h1>Regardez Netflix sur votre TV.</h1>
      <h3>
        Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast,
        Apple TV, lecteurs Blu-ray et bien plus.
      </h3>
    </div>
    <div class="col">
      <video src="/assets/video-tv-0819.m4v" accesskey="none" autoplay></video>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Où que vous soyez.</h1>
      <h3>
        Regardez des films et séries TV en accès illimité sur votre TV,
        smartphone, tablette et ordinateur, tout compris.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/boxshot.png" />
    </div>
  </div>

  <div id="tab-3-content" class="tab-content-item">
    <div class="text-center">
      <p class="text-lg">Choose one plan and watch everything on Netflix.</p>
      <a
        routerLink="feed"
        style="
          text-decoration: none;
          display: inline-block;
          padding: 10px;
          background-color: #fff;
          color: rgba(255, 0, 0, 0.836);
        "
        >Watch Free For 30 Days</a
      >
    </div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Basic</th>
          <th>Standard</th>
          <th>Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monthly price after free month ends on 6/19/19</td>
          <td>$8.99</td>
          <td>$12.99</td>
          <td>$15.99</td>
        </tr>
        <tr>
          <td>HD Available</td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td>Ultra HD Available</td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td>Screens you can watch on at the same time</td>
          <td>1</td>
          <td>2</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Watch on your laptop, TV, phone and tablet</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td>Unlimited movies and TV shows</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td>Cancel anytime</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td>First month free</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
 -->

</div>