<div class="rows">
  <div class="row__one">
    <img
      class="row__logo"
      src="https://www.freepnglogos.com/uploads/red-netflix-logo-text-png-3.png"
      alt="Netflix Logo"
    />
    <button class="row__connexion">S'identifier</button>
    <div class="row__one-text">
      <h1>Films, séries TV et bien plus en illimité.</h1>
      <h2>Où que vous soyez. Annulez à tout moment.</h2>
      <h3>
        Prêt à regarder Netflix ? Saisissez votre adresse e-mail pour vous
        abonner ou réactiver votre abonnement.
      </h3>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email adress"
      />
      <button routerLink="feed">COMMENCER</button>
    </div>
    <div class="row__one-background--shadow"></div>
  </div>

  <div class="row">
    <div class="col">
      <h1>
        Téléchargez vos séries préférées pour les regarder hors connexion..
      </h1>
      <h3>
        Enregistrez vos programmes préférés et ayez toujours quelque chose à
        regarder.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/mobile.jpg" width="300" />
    </div>
  </div>

  <div class="row row--reverse">
    <div class="col">
      <h1>Regardez Netflix sur votre TV.</h1>
      <h3>
        Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast,
        Apple TV, lecteurs Blu-ray et bien plus.
      </h3>
    </div>
    <div class="col">
      <video src="/assets/video-tv-0819.m4v" accesskey="none" autoplay></video>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Où que vous soyez.</h1>
      <h3>
        Regardez des films et séries TV en accès illimité sur votre TV,
        smartphone, tablette et ordinateur, tout compris.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/boxshot.png" />
    </div>
  </div>
</div>
